/* ToggleButton.css */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 36px; /* Adjust width */
    height: 20px; /* Adjust height */
    margin-right: 5px;
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px; /* Adjust border-radius */
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 16px; /* Adjust height */
    width: 16px; /* Adjust width */
    left: 2px; /* Adjust position */
    bottom: 2px; /* Adjust position */
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #04AA6D;
  }
  
  input:checked + .slider:before {
    transform: translateX(16px); /* Adjust translation */
  }
  